=link_to 'アンケートを作る', :controller => 'make_forms', :action => 'new'
%br
%br

%table
  %tr
    %th タイトル
    %th 説明
    %th 回答期限
    %th 回答公開範囲
    %th アクション
  -@questionnarie.each do |q|
    %tr
      %td#title="#{q.title}"
      / kyuumin edit
      /
        %td#title
          = link_to "#{q.title}", :action => 'show', :id =>"#{q.id}"
      %td#description="#{q.description}"
      %td#limit="#{q.limit}"
      %td#publicationb="#{q.publication}"
      / kyuumin edit
      %td#next
        = link_to '詳細を見る', :action => 'show', :id => "#{q.id}"
